# Define bot property if installed via https://github.com/marketplace/pre-commit-ci
ci:
  autofix_prs: true
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit suggestions"
  autoupdate_schedule: monthly
  # submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-case-conflict
      # - id: no-commit-to-branch
      # - id: check-yaml
      - id: detect-private-key
      - id: detect-aws-credentials
        args:
          - --allow-missing-credentials

  - repo: https://github.com/PyCQA/autoflake
    rev: v2.2.1
    hooks:
      - id: autoflake
        name: Remove unused imports
        args:
          - --remove-all-unused-imports
          - --remove-unused-variables
          - --in-place

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
      - id: pyupgrade
        name: Upgrade code

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: Sort imports

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        name: Black formatting
        args:
          - --line-length=120

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
      - id: mdformat
        name: MD formatting
        additional_dependencies:
          - mdformat-gfm
          - mdformat-black
        exclude: 'docs/.*\.md'

  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        name: Flake8 linting
        args:
          - --max-line-length=130
          - --ignore=E203,E402,E226,E741,F541

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=crate,nd,strack,dota,ane,segway,fo,gool,winn
          # skip inline comments
          - --skip="*.py:.*#.*,*ipynb"
